.f-button {
	width: 70px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #409EFF;
    letter-spacing: 2px;
    cursor: pointer;
    border: 1px solid #409EFF;
    background-color: rgba(0,0,0,0);
}