/*正常情况*/
.f-button {
	min-width: 70px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #409EFF;
    letter-spacing: 2px;
    cursor: pointer;
    border: 1px solid #409EFF;
    background-color: rgba(0,0,0,0);
    padding: 0 10px;
}
.f-button:active {
    opacity: 0.5;
}

/*红色*/
.f-button-warning {
    border-color: #ff7875;
    color: #ff7875;
}