.f-message {
	padding: 7px 10px;
	min-width: 50px;
	border-radius: 3px;
	color: white;
	position: absolute;
	top: -30px;
	left: 50%;
	z-index: 1000;
	text-align: center;
	font-size: 12px;
	transition: top 0.5s;
}
.f-message-success {
	background-color: rgba(82, 196, 26, .8);
}
.f-message-error {
	background-color: rgba(255, 120, 117, .8);
}
.f-message-warning {
	background-color: rgb(255, 212, 20, 1);
}